.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
   margin-top: 120px;
   background-color: rgba(45, 45, 45, 0.5);
    font-family: Arial, sans-serif;
    color:#fff;
    font-weight: 700;
  }
  html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url('../back1.jpg');
    background-size: cover;
    background-position: center;
  }
  
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  strong {
    font-weight: bold;
  }
  
  button.edit-btn {
    background-color: #ffc107;
    margin-right: 5px;
  }
  
  button.delete-btn {
    background-color: #dc3545;
  }
  .edit{
    margin-left: 10px;
    margin-right: 20px;
  }